VITE_API_URL=https://delivery-api-staging.otavio-marques20.workers.dev
VITE_PUBLIC_WEB_URL=https://delivery-web-staging.otavio-marques20.workers.dev
VITE_TURNSTILE_SITE_KEY=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=
